
<app-header></app-header>

<div class="container d-flex justify-content-center align-items-center mt-4">
    <p [ngStyle]="{'color': '#00f', 'background-color' : '#ff0', 'padding': '20px'}"> Hello World 1</p>
</div>

<div class="container d-flex justify-content-center align-items-center mt-4">
    <p [ngStyle]="{'color': '#fff', 'background-color' : purple, 'padding': '20px'}"> Hello World 2</p>
</div>

<div class="container d-flex justify-content-center align-items-center mt-4">
    <p [ngStyle]="colorObj"> Hello World 3</p>
</div>